{% extends 'partials/login.html' %}
{% load bootstrap3 i18n %}
{% block page_title %}Password Change{% endblock %}
{% block box_content %}
    <p class="login-box-msg">{% trans "Change your password by entering your old new passwords below." %}</p>
    <form class="form" method="post" id="login-form" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% for field in form %}
            {% bootstrap_field field show_label=False %}
        {% endfor %}
        {% bootstrap_button button_type='submit' button_class='btn-primary btn-block btn-flat' content='Change my password' %}
    </form>
{% endblock %}