{% extends 'partials/login.html' %}
{% load bootstrap3 i18n %}
{% block page_title %}Password Reset{% endblock %}
{% block box_content %}
    {% if validlink %}
        <p class="login-box-msg">{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
        <form class="form" method="post" id="login-form" novalidate>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% for field in form %}
                {% bootstrap_field field show_label=False %}
            {% endfor %}
            {% bootstrap_button button_type='submit' button_class='btn-primary btn-block btn-flat' content='Change my password' %}
        </form>
    {% else %}
        <p class="login-box-msg">{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
    {% endif %}
{% endblock %}