{% extends 'base.html' %}
{% load bootstrap3 i18n %}
{% block page_title %}Password Change{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block base_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Example</b>.com</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">{% trans "Your password has been changed with immediate effect." %}</p>
            <div class="text-center">
                <a href="/">{% trans 'Continue' %}</a>
            </div>
        </div>
    </div>
{% endblock %}