{% extends 'partials/login.html' %}
{% load bootstrap3 i18n %}
{% block page_title %}Password Reset{% endblock %}
{% block box_content %}
    <p class="login-box-msg">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <form class="form" method="post" id="login-form" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% for field in form %}
            {% bootstrap_field field show_label=False %}
        {% endfor %}
        {% bootstrap_button button_type='submit' button_class='btn-primary btn-block btn-flat' content='Reset my password' %}
    </form>
{% endblock %}