option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: "access_key"
    AWS_SECRET_ACCESS_KEY: "secret_key"
    AWS_STORAGE_BUCKET_NAME "bucket_name"
    DJANGO_SETTINGS_MODULE: "app.settings"
    EMAIL_HOST: "mail_host"
    EMAIL_PORT: ""
    EMAIL_HOST_USER: "user"
    EMAIL_HOST_PASSWORD: "password"
    PYTHONPATH: "/opt/python/current/app/src:$PYTHONPATH"
    RDS_HOSTNAME: "rds_host"
    RDS_PORT: "3306"
    RDS_DB_NAME: "db_name"
    RDS_USERNAME: "user"
    RDS_PASSWORD: "password"
  aws:elasticbeanstalk:container:python:
    StaticFiles: /static/=public/static/
    WSGIPath: app/wsgi.py