container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_create_superuser:
    command: source /opt/python/run/venv/bin/activate && echo "from authentication.models import User; User.objects.create_superuser('admin@accentdesign.co.uk', 'h00th00t!', first_name='Admin', last_name='User')" | python manage.py shell
    leader_only: true
  03_collect_static:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"