/*
 * Page: Login Page
 * -------------
 */

.login-page {
    background: #fff;
}

.login-logo {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-logo a {
    color: #444;
    text-decoration: none;
}

.login-box {
    width: 360px;
    margin: 7% auto;
}

@media (max-width: 768px) {
    .login-box {
        width: 90%;
        margin-top: 20px;
    }
}

.login-box-body {
    padding: 20px;
}

.login-box-msg {
    margin: 0;
    padding: 0 0 20px 0;
}
