{% extends 'emails/base.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock %}

{% block content %}
    <p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
    <p>{% blocktrans with email=user.get_username %}Your email, in case you've forgotten: {{ email }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>
{% endblock %}