// Component Variables
//–––––––––––––––––––––––––––––––––––––––––––––––––– 


// Alerts
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$alert-padding:                 1.5rem 2rem !default;

$alerts: (
    // name                     background                       font-color
    success:                    color-lighten("green", 35%)      $font-color,
    error:                      color-lighten("red", 30%)        $font-color,
    warning:                    color-lighten("yellow", 35%)     $font-color,
    info:                       color-lighten("aqua", 15%)       $font-color
) !default;


// Button Groups
//––––––––––––––––––––––––––––––––––––––––––––––––––

$button-group-collapse-dividing-borders:   false !default;           


// Checkboxes and Radios
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$checkbox-checked-color:        color("primary") !default;
$checkbox-font-weight:          400 !default;
$checkbox-size:                 2.4rem !default;
$checkbox-tick-width:           .3rem !default;
$radio-dot-spacing:             .4rem !default;


// Icon Input
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$icon-input-icon-color:         $input-placeholder-color !default;
$icon-input-icon-class-prefix:  'icon-' !default;
$icon-input-icon-width:         2.65em !default;
$icon-input-margin-bottom:      $input-margin-bottom !default;


// Input Groups
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$input-group-addon-y-padding:   1rem !default;
$input-group-margin-bottom:     $input-margin-bottom !default;


// Tooltips
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$tooltip-background:            color-a("black", .9) !default;
$tooltip-text-color:            color("white") !default;
$tooltip-font-size:             85% !default;
$tooltip-padding:               .5em 1em !default;
$tooltip-arrow-height:          6px !default;
$tooltip-distance:              6px !default;
$tooltip-transition:            all .18s ease-out .18s !default;

// add the zindex to your z-layers
$z-layers: map-merge((tooltip: 100 ), $z-layers);