// Component Variables
//–––––––––––––––––––––––––––––––––––––––––––––––––– 


// Alerts
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$alert-padding:                 1.5rem 2rem !default;

$alerts: (
    // name                     background                       font-color
    success:                    color-lighten("green", 35%)      $font-color,
    error:                      color-lighten("red", 30%)        $font-color,
    warning:                    color-lighten("yellow", 35%)     $font-color,
    info:                       color-lighten("aqua", 15%)       $font-color
) !default;


// Button Groups
//––––––––––––––––––––––––––––––––––––––––––––––––––

$button-group-collapse-dividing-borders:   false !default;           


// Cards
//––––––––––––––––––––––––––––––––––––––––––––––––––

$card-border:                   solid 1px $border-color !default;
$card-border-radius:            $global-radius !default;
$card-content-padding:          2rem !default;
$card-footer-padding:           1rem 2rem !default;
$card-margin-bottom:            $generic-margin-bottom !default;


// Checkboxes and Radios
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$checkbox-checked-color:        color("primary") !default;
$checkbox-font-weight:          400 !default;
$checkbox-size:                 2.4rem !default;
$checkbox-tick-width:           .3rem !default;
$radio-dot-spacing:             .4rem !default;


// Divider
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$divider-margin:                2rem 0;
$divider-items-alignment:       center;  // center or baseline is best
$divider-line-color:            $border-color;
$divider-line-width:            2px;
$divider-content-margin:        1.5rem;  // margin between content and line


// Icon Input
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$icon-input-icon-color:         $input-placeholder-color !default;
$icon-input-icon-class-prefix:  'icon-' !default;
$icon-input-icon-width:         2.65em !default;
$icon-input-margin-bottom:      $input-margin-bottom !default;


// Input Groups
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$input-group-addon-y-padding:   1rem !default;
$input-group-margin-bottom:     $input-margin-bottom !default;


// Switches
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$switch-height:                 3.4rem !default;
$switch-width:                  6rem !default;
$switch-padding:                .4rem !default;
$switch-default-border-radius:  $global-radius !default;
$switch-background:             color("secondary") !default;
$switch-background-on:          color("primary") !default;
$switch-slider-background:      color("white") !default;
$switch-slider-transition:      .3s !default;


// Tags
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$tag-font-size:                 85% !default;
$tag-font-weight:               400 !default;
$tag-margin-right:              .5rem !default;
$tag-padding:                   .4em .45em !default;
$tag-anchor-transition:         background-color linear $animation-speed-fast,
                                border-color linear $animation-speed-fast,
                                color linear $animation-speed-fast !default;

$tags: (
    // name                     background                        font-color
    white:                      color("white")                    color("black"),
    black:                      color("black")                    color("white"),
    primary:                    color("primary")                  color("white"),
    secondary:                  color("secondary")                color("black")
) !default;


// Tooltips
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$tooltip-background:            color-a("black", .9) !default;
$tooltip-text-color:            color("white") !default;
$tooltip-font-size:             85% !default;
$tooltip-padding:               .5em 1em !default;
$tooltip-arrow-height:          6px !default;
$tooltip-distance:              6px !default;
$tooltip-transition:            all .18s ease-out .18s !default;

// add the zindex to your z-layers
$z-layers: map-merge((tooltip: 100 ), $z-layers);